<form action="/new" method="post" >


  <div class="form-group">
    <label for="labeltextarea">New post</label>
    <textarea class="form-control" name="content" rows="6" placeholder="Type your text here"></textarea>
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>